body {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    background-color: #C1D6C9;
}
ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}

#status-table {
    padding: 30px 30px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.68);
    border-radius: 10px;
    background-color: white;
}

.thermometr{
    padding: 30px 30px;
    height: 400px;
    -webkit-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.68);
    -moz-box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.68);
    box-shadow: 0px 0px 23px -1px rgba(0,0,0,0.68);
    border-radius: 10px;
    background-color: white;
}